<div class="grid-x">
  <div class="small-1"></div>
  <div class="cell small-10">
    <fieldset>
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Checkout Date</th>
            <th>Return Date</th>
            <th>Current Status</th>
          </tr>
        </thead>


        <tbody>
          <% @reservations.each do |reservation| %>
          <tr>

            <td><%= link_to image_tag('osmo.png', width:180, height:180), item_path(@item=Item.find(1))%></td>
            <td>From: <%= reservation.pick_up_date.strftime("%D") %></td>
            <td>To: <%= reservation.return_date.strftime("%D") %></td>
            <td> <%= reservation.picked_up ? "Picked Up" : "Not Yet Picked Up" %></td>
          </tr>
          <% end %>

        </tbody>
      </table>
    </fieldset>
  </div>
</div>
