<%= render :partial => 'rental_confirmation' %>


<div class="row">
    <div class="small-5 columns">
      <%= link_to 'Go back',  new_reservation_path, :class => 'button radius info'  %>
      <%= link_to 'Cancel Rental', items_path, :class => 'button radius' %>
    </div>
    <div class="small-5 columns">
    <%= link_to 'Confirm Rental', user_path(3), :class => 'button radius success'%>
  </div>
</div>
