<div class="grid-container" id="dash-container">
  <div class="grid-x">
    <div class="inner-title cell-block-x small-12">
      <span class="uline"><h1><%= current_user.role.capitalize %> Dashboard</h1> </span>
    </div>
  </div>

  <div class="grid-x">
    <% if (current_user.has_role?(:admin) || current_user.has_role?(:manager)) %>
      <%= render :partial => 'manager_dash' %>

    <% elsif current_user.has_role?(:volunteer) %>
      <%= render  "reservations/volunteer_portal" %>

    <% end %>

  </div>
  <% if (current_user.has_role?(:admin)) %>
    <div class="grid-x">
      <%= link_to 'Clean Database', clean_database_path, method: :get, data: { confirm: 'Are you sure? This will delete all Teachers, Reservations, and Schools. This cannot be un done.' }, :class => 'button alert radius small' %>
    </div>
  <% end %>
</div>
