<div class="grid-container" id="dash-container">
  <div class="grid-x">
    <div class="inner-title cell-block-x small-12">
      <span class="uline"><h1><%= current_user.role.capitalize %> Dashboard</h1> </span>
    </div>
  </div>

  <div class="grid-x">
    <% if (current_user.has_role?(:admin) || current_user.has_role?(:manager)) %>
      <%= render :partial => 'manager_dash' %>

    <% elsif current_user.has_role?(:volunteer) %>
      <%= render :partial => 'volunteer_portal' %>

    <% end %>
  </div>
</div>