
<div class="flex-container text-center" id="welcome">
	<div class="small 7 cell">
		<h1>STEAM LENDING LIBRARY</h1>
		<br/>
		<h5 class="text-center">
			Students helping students, teachers helping teachers, communities helping schools.
		</h5>
		<br/>
		<div id="welcome-button center">
			<%= link_to 'Let\'s get started!', kits_path, :class => 'button large' %>
		</div>
	</div>
</div>
