<h2>STEAM KITS RENTALS</h2>
<br />
<div class="row">
	<div class="small-7 columns">
		<p>
			Students helping students, teachers helping teachers, communities helping schools.
		</p>
	</div>

	<div class="form-actions">
		<%= link_to 'Let\'s get started!', kits_path, :class => 'button radius' %>
	</div>

</div>
