<div class="grid-container">
  <div class="grid-x grid-margin-x">
      <% @items.each do |item| %>
        <div class="product-card-container">
          <div class="product-card">
            <div class="product-card-thumbnail">
              <%= link_to image_tag('finch.jpg', width:200, height:200), item_path(item)%>
            </div>
              <h2 class="product-card-title center"><%= item.item_category.name %></h2>
              <div class="product-card-button">
                <%= link_to 'Details', item_path(item), :class => 'button radius ' %>
              </div>
          </div>
        </div>
      <% end %>

  </div>
