<div class="item-detail-title">
  <h1><%= @item.item_category.name %></h1>
</div>
<div class="item-detail-description">
  <div id="kit-count">
    <p><%= pluralize(@item.item_category.inventory_level, 'kit')%> available</p>
  </div>
  <div id="kit-description">
    <p><%= @item.item_category.description %></p>
  </div>
</div>
