/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require simple_form
 *= require_tree .
 *= require foundation_and_overrides
 *= require jquery-ui
 */

:root {
  --orange: #f99d31;
  --blue: #0076c0;
  --black: #333333;
  --dark-grey: #707070;
  --med-grey: #bab9b9;
  --light-grey: #ebebeb;
  --white: #f5f5f5;
  --green: #51c31e;
  --red: #de7f7f;

  --footer-bg: #494949;
  --primary: var(--orange);
  --secondary: var(--blue);
  --notice: var(--green);
  --alert: var(--red);
}

/* general app stylings */

body {
  overflow-x: hidden;
}

footer {
  background-color: var(--footer-bg);
  color: var(--med-grey);
  padding: 2rem 1rem;
}

footer a {
  color: var(--primary);
}

.white.social {
  color: var(--white);
  padding: 0rem 0.4rem;
}

.top-bar-left img {
  transform: scale(0.8, 0.8);
}

/* general stylings */

.center {
  text-align: center;
  margin: auto;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.rounded {
  border-radius: 20px;
}

.clearfix {
  overflow: auto;
}

/* login page */
.devise-content {
  background-image: url("home_bg.jpg");
  background-size: cover;
  position: relative;
}

#login {
  color: var(--white);
  width: 800px;
  height: 700px;
}

#login h1{
  margin-left: 1.5rem;
  padding-top: 60px;
  font-size: 60px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.login-button{
  padding: 15px;
  width: 180px;
  height: 50px;
  color: var(--white);
  display: block;
  background-color: var(--primary);
}

.cancel-button{
  margin-left: 1.7rem;
  padding: 15px;
  width: 120px;
  height: 40px;
  color: var(--white);
  display: block;
  border: none;
  border-radius: 10px;
  background-color: var(--dark-grey);
  font-size: 16px;
}

#login-form {
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
  list-style-position: inside;
  color: var(--white);
}

#login-buttons{
  list-style: none;
  list-style-position:inside;
}


#signup-form th {
  background-color: $none;
  border-color: $none;
  font-size: 1rem;
  color: var(--secondary);
  text-align: right;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

#signup h1{
  color: var(--white);
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
