$orange: #F99D31;
$blue: #0076C0;
$black: #333333;
$dark-grey: #707070;
$med-grey: #BAB9B9;
$light-grey: #EBEBEB;
$white: #F5F5F5;
$green: #51C31E;
$red: #DE7F7F;

$primary: $orange;
$secondary: $blue;
$notice: $green;
$alert: $red;

body {
  background-color: $white;
  color: $black;
  margin: 33px;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: $white;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $black;

  &:visited {
    color: $dark-grey;
  }

  &:hover {
    color: $white;
    background-color: $primary;
    text-underline-position: $primary;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: $notice;
}

.field_with_errors {
  padding: 2px;
  background-color: $alert;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $alert;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: $alert;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: $alert;
    color: $white;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}