// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';
@import 'foundation';

#profile {
  margin-top: 3rem;
  margin-bottom: 5rem;
  th {
    text-align: left;
  }
}

#user-profile, table, th, td, tr, thead {
  background-color: $none;
  border-color: $none;
  font-size: 1rem;
  font-weight: 400;

  th {
    color: $dark-gray;
    text-align: right;
    padding-bottom: 1.5rem;
  }
  
  td {
    color: $primary-color;
    padding-bottom: 1.5rem;
  }
}

#profile-title-box {
  color: $white;
  background-color: $primary-color;
  padding: 2rem 0rem;
}

#user-information {
  background-color: rgba($color: $primary-color, $alpha: 0.2);
  padding: 1rem 0rem;
}