<div id="footer">

  <div class="small-3 columns">
    <div class='avg'>
      <h4>Get in touch</h4>
      <br>

      <p>412-922-6500</p>
      <p>The Education Partnership</p>
      <p>281 Corliss Street</p>
      <p>Pittsburgh, PA 15220</p>

      <p><%= mail_to("info@theeducationpartnership.org","Email Us", encode: "javascript") %></p>
    </div>
  </div>

  <div class="small-3 columns">
    <div class='avg'>
      <h4>Stay Connected</h4>
    </div>
  </div>

  <div class="small-3 columns">
    <div class='avg'>
      <h4>Be the first to know</h4>
    </div>
  </div>

</div>
