<li>
  <h5> <li><%= link_to "VOLUNTEER PORTAL", volunteer_portal_path  %></li></h5>
  <ul class="menu vertical">
      <li><%= link_to "CHECK IN", returns_path  %></li>
      <li><%= link_to "CHECK OUT", pickup_path  %></li>
  </ul>
</li>
