 <div class="grid-container" id="item-detail">
   <div class="grid-x grid-margin-x">
 
     <div class="cell-block-container cell auto large-offset-2 medium-offset-1">
       <div class="cell-block-y small-6">
        <%= render :partial => "item_picture", locals: {:rental_category => @rental_category} %>
       </div>
       
       <% if @rental_category.one_components_group.size > 0 %>
        <div class="cell-block-y small-6">
            <ul class="vertical menu" data-accordion-menu>
              <li>
                  <a href="#0" class="button radius" id="kit-components">WHATS IN THIS KIT?</a>
                <ul class="menu vertical nested">
                  <%= render :partial => "item_components",locals: {:components => @rental_category.one_components_group}  %>
                </ul>
              </li>
            </ul>
        </div>
       <% end %>
       
       
     </div>
     <div class="cell small-6">
       <%= render :partial => "item_details" %>
       <div class="form-actions">
        <% if @kits_count <= 0 || current_user.owned_reservations.open_reservations.size != 0 %>
          <h3>No kits are currently available, check back next month please</h3>
        <% else %>
          <div class='button radius', id='rent-kit-button'>
            <%= link_to 'BORROW THIS KIT', confirm_user_details_path(), :onclick => session[:rental_category_id] = @rental_category.id %>
          </div>
        <% end %>
       </div>
     </div>
   </div>
 </div>