<div class="grid-container">
  <div class="grid-y cell-block-container">
    <div class="grid-x">
      <div class="inner-title cell-block-x small-10">
        <span class="uline"><h1>Rental History</h1> </span>
      </div>
    </div>

    <% unless @reservations.nil? || @reservations.empty? %>
      <div class="grid-x">
        <div class="small-1"></div>
        <div class="cell small-10">
          <fieldset>
            <table>
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Checkout Date</th>
                  <th>Return Date</th>
                  <th>Current Status</th>
                </tr>
              </thead>

              <tbody>
                <% @reservations.each do |reservation| %>
                  <tr>
                    <td><%= reservation.kit.items.first.item_category.name %></td>
                    <td><%= reservation.pick_up_date.strftime("%D") %></td>
                    <td><%= reservation.return_date.strftime("%D") %></td>
                    <% if reservation.returned %>
                      <td> Returned</td>
                    <% else %>
                      <td> <%= reservation.picked_up ? "Picked Up" : "Not Yet Picked Up" %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </fieldset>
        </div>
      </div>
    <% end %>

  </div>
</div>