<div id="welcome">
		<div class="cell auto">
			<h1 class="text-center">STEAM LENDING LIBRARY</h1>
			<br/>
			<h5 class="text-center">
				Students helping students, teachers helping teachers, communities helping schools.
			</h5>
			<br/>
			<br/>
			<div class="center">
				<%= link_to 'Let\'s get started!', new_user_session_path, :class => 'button welcome-button' %>
			</div>
		</div>
</div>
