<div id="welcome">
		<div class="cell auto">
			<h1 class="text-center">STEAM LENDING LIBRARY</h1>
			<br/>
			<h5 class="text-center">
				Students helping students, teachers helping teachers, communities helping schools.
			</h5>
			<br/>
			<br/>
			<div class="center">
				<% unless current_user %>
					<%= link_to 'Let\'s get started!', new_user_session_path, :class => 'button large welcome-button' %>
				<% else%>
					<% if current_user.has_role?(:teacher) %>
						<%= link_to 'Let\'s get started!', shopping_path, :class => 'button large welcome-button' %>
					<% elsif current_user.has_role?(:volunteer)%>
						<%= link_to 'Let\'s get started!', volunteer_portal_path, :class => 'button large welcome-button' %>
					<% elsif current_user.has_role?(:manager) || current_user.has_role?(:admin) %>
						<%= link_to 'Let\'s get started!', dashboard_path, :class => 'button large welcome-button' %>
					<% end %>
				<% end %>
			</div>
		</div>
</div>
