<div id="welcome">
	<div class="cener" id="signup">
		<h1 class="center"> Upload Schools </h1>
	</div>

  <div class="grid-x grid-margin-x">
    <div class='center'>
  		<%= simple_form_for(:create_schools, url: create_schools_url, html: { :multipart => true, :class => 'form-inline' }, defaults: {label: false}) do |f| %>
  			<fieldset>
  				<table id="user-upload-form">
  					<tbody>
  						<tr>
									<th class="left"> Upload CSV File: </th>
									<td class="left">
										<%= f.input :schools_csv, as: :file %>
									</td>
							</tr>
  					</tbody>
  				</table>
  			</fieldset>
				<div class="form-actions">
					<%= f.button :submit, "Upload", :class => 'button radius upload-button' %>
				</div>
			<% end %>
    </div>
  </div>
</div>