<div id="welcome">
		<div class="cell auto">
			<h1 class="text-center">GENERATED REPORTS</h1>
			<br/>
			<div class="center">
				<%= @one %>
				<%= @two %>
				<p>Hmmm...</p>
			</div>
		</div>
</div>

