<div class="small-offset-1" id="signup">
	<h1 class="uline"> Generate Reports </h1>
</div>

<divclass="report-block">
  <div class="grid-x grid-margin-x" id="reports">
    <div class='center report'>
  		<%= simple_form_for(:gen_reports, url: gen_reports_url, html: { :multipart => true, :class => 'form-inline' }, defaults: {label: false}) do |f| %>
  				<table id="user-upload-form">
  					<tbody>
						<tr>
							<th class=""> Included in Report: </th>
							<td class="left">
								<%= f.input :report_choices, as: :check_boxes, collection: [ ['0', 'Inventory Summary'], ['1', 'School Kit Rentals Monthly'], ['2', 'School Kit Rentals Yearly'], ['3', 'Teacher Rentals Monthly'], ['4', 'Teacher Rentals Yearly'], ['5', 'Kit Statuses'], ['6', 'Kit Popularity']], label_method: :second, value_method: :first %>
							</td>
						</tr>
  					</tbody>
  				</table>
				<div class="form-actions">
					<%= f.button :submit, "Generate", :class => 'button radius upload-button' %>
				</div>
			<% end %>
    </div>
  </div>
</div>
