<div class="cell-block-y">
  <div class="grid-container">
        <div class="grid-x">
          <div class="inner-title cell-block-x small-10 small-offset-3">
            <span class="uline"><h1>New Reservation</h1> </span>
          </div>
        </div>
    </div>
</div>

<%= render 'form', reservation: @reservation %>

<%= link_to 'Back', reservations_path %>