 
 <div class="cell-block-y">
  <div class="grid-container">

    <div class="grid-x">
      <div class="inner-title cell-block-x small-12">
        <span class="uline"><h1>Available Rentals</h1> </span>
      </div>
      <br>
      <div class="subtitle cell-block-x small-12">
        <p>What would you like to do?</p>
      </div>
      <br>
    </div>

    <div class="cell-block-y">
      <div class="grid-x grid-margin-x">
      <div class="cell-block-container cell auto">
          <h5 class="cell-block-y small-6" id="component-block"><%= link_to "CHECK OUT", pickup_path, :class => "button large radius" %></h5>
      </div>
      <div class="cell-block-container cell auto">
        <h5 class="cell-block-y small-6" id="component-block"><%= link_to "CHECK IN", returns_path, :class => "button large radius" %></h5>
      </div>
    </div>
  </div>
</div>


