<!--https://www.pexels.com/photo/coding-computer-data-depth-of-field-577585/ -->
<div style="text-align: center;">
    <h4>Sorry about that! Looks like something went wrong</h4>
    <h4>We are working to fix it now, but feel free to look around the rest of the site</h4>
    <%= image_tag("server_error.jpg", width: "50%", height: "40%") %>
    </br>
    </br>
</div>