<!-- https://www.pexels.com/photo/black-and-white-blank-challenge-connect-262488/ -->
<div style="text-align: center;">
    <h4>We couldn't find that page...try a different one?</h4>
    <%= image_tag("not_found.jpg", width: "50%", height: "40%") %>
    </br>
    </br>
</div>