<p>Welcome to the The Education Partnership's Lending Library, <%= @name %>!</p>

<p>Your password is: <%= @password %></p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
