<h4>Item Information</h4>

<br/>
<table>
  <tbody>
    <tr>
      <td>Location:</td>
      <% if @item.kit.nil? %>
        <td>Item not in a kit</td>
      <% else %>
        <td><%= link_to @item.kit.location, @item.kit %></td>
      <% end %>
    </tr> 
    <tr>
      <td>Condition:</td>
      <td><%= @item.condition %> </td>
    </tr>
    <tr>
      <td>Category:</td>
      <td><%= @item.item_category.name %></td>
    </tr>
    <tr>
      <td>Active:</td>
      <td><%= @item.is_active %></td>
    </tr>
  </tbody>
</table>