
<div class="grid-container" id="product">
  <div class="grid-y cell-block-container">

        <div class="cell-block-y">
            <div class="inner-title cell-block-x small-9">
              <span class="uline"><h1><%= link_to "#{@item.item_category.name} Kit Contents", items_path %></h1> </span>
            </div>


        </div>




  </div>
</div>
