<div class="grid-container" id="item-show-blocks">
  <div class="grid-x">
    <div class="inner-title cell-block-x small-12">
      <span class="uline"><h1>Item: <%= @item.readable_id %></h1> </span>
    </div>
  </div>
    
  <div class="grid-x grid-margin-x">
      <div class="cell-block-y medium-4 small-12 medium-offset-1" id="category-block">
        <%= render  "item_category", item: @item %>
      </div>

      <% if @item.components.size > 0 %>
        <div class="cell-block-y medium-4 small-12" id="component-block">
          <%= render  "item_components", components: @item.components %>
        </div>
      <% end %>

      <div class="cell medium-4 small-12" id="item-block">
        <%= render  "item_information" %>
      </div>
  </div>
</div>
