// Place all the styles related to the components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';
@import 'foundation';

#new_component {
  .component_name {
    width: 12rem;
  }

  .component_max_quantity {
    width: 6rem;
  }

  .component_max_quantity,
  .component_name {
    display: inline-block;
    margin: 0rem 0.5rem 0rem 0rem;
  }

  .button {
    border: 0px;
    padding: 0.65rem;
  }

  a.button.tiny.radius.alert {
    color: $white;
  }
  
  #component_submit {
    font-size: 0.6rem;
  }
}