@import 'settings';
@import 'foundation';

// all pages
h2.text-center {
  color: $white;
}

// forgot password page
#password-forgot-button {
  .button {
    // margin: 0rem;
    // width: auto;
    // padding: 0rem 1rem;
  }
}

/* login page */
.devise-content {
  background-image: url("home_bg.jpg");
  background-size: cover;
  position: relative;
}

#login, #resend-confirm {
  color: $secondary-color;
  position: absolute;
  width: 800px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -400px;

  h1 {
    padding-top: 60px;
    font-size: 60px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
}

#login-buttons {
  margin: 0rem 0rem -1rem 0rem;
}

#login-form {
  padding: 0rem;
  margin: 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
  list-style-position: inside;
  border-radius: 20px;
  
  .checkbox {
    color: $secondary-color;
    .avg-checkbox {
      margin: 0rem;
    }
  }
}

#forgot-password {
  height: 2rem;
  padding-top: 0.5rem;

  h5 {
    font-size: 1rem;
    line-height: 1rem;
  }
}

/* confirmation resend page */

div.error_notification {
  text-align: left;
}

#resend-confirm {
  width: 900px;
  height: 200px;
  margin: -200px 0 0 -450px;
  
  .form-inputs {
    margin-bottom: 1.5rem;

    .error {
      color: $secondary-color;
      text-align: right;
      margin-right: 1rem;
    }
  }
}

/* user uplaod page */
#user-upload-form {
  fieldset, table, tbody, tr, td {
    border: 0rem;
    background-color: $none;
  }

  .input {
    margin: 0;
  }
  
  th {
    background-color: none;
    border-color: none;
    font-size: 1rem;
    color: $secondary-color;
    text-align: right;
    padding-bottom: 0.5rem;
    font-weight: bold;
  }

  #create_users_users_csv {
    margin: 0;
    color: $secondary-color;
  }

  #create_users_role {
    width: 12rem;
    margin-top: 1rem;
  }
}

#upload-users, #upload-schools {
  .form-actions {
  .upload-button, .button {
      width: 8rem;
    }
  }
}


#signup h1{
  color: $secondary-color;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
}

#signup {
  top: 50%;
}