// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';
@import 'foundation';


.no-bg {
  background-image: none;
  height: 100%;
}

#welcome {
    color: $white;
    position: absolute;
    width: 800px;
    height: 200px;
    z-index: 15;
    left: 50%;
    margin: -200px 0 0 -400px;
}

.welcome-button{
    width: 180px;
    height: 50px;
    color: $white;
    display: inline-block;
    border: none;
    background-color: $primary-color;
    font-size: 1.2rem;
}

.welcome-button:hover,
.welcome-button:active {
    background-color: scale-color($primary-color, $lightness: -15%);
}
