// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';
@import 'foundation';

// show page

a#kit-location {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

#item-show-blocks {
  margin-bottom: 2rem;
}

#component-block, 
#item-block, 
#category-block  {
  border: 2px solid $medium-gray;
  border-radius: $rounded-radius;
  padding: 1rem;
  margin: 0.5rem;
  h4 {
    color: $darker-gray;
    margin: 0.5rem 0rem;
  }
}

.item-pic {
  padding: 1.2rem;
  margin-right: 1.2rem;
  border: 1px solid $medium-gray;
  border-radius: 16px;
}

table{
  thead, th, tbody, tr, td {
    border: 0px;
  } 
}

.component-table {
  thead, th, tbody, tr, td {
    text-align: left;
    font-size: 10px;
    padding: 0.1rem;
  }
  
  td {
    font-size: 12px;
  }
}

#category-block {
  color: $dark-gray;
  
  h5#item-title {
    font-size: 18px;
    margin: 0.5rem 0rem;
  }
  
  input#item_category_item_photo {
    margin-bottom: 0rem;
    // width: 14rem;
  }

  input.btn.button.radius.tiny.right {
    margin: 0rem;
    margin-top: 0.25rem;
    font-size: 0.6rem;
    // float: right;
  }
}

// items edit form

.simple_form.form-inline {
  margin: 0rem;
  max-width: 100%;
  padding: 0rem;
}

.item-edit-head {
  padding-left: 0rem;
  padding-right: 0rem;
}

input.btn.button {
  margin-left: 1rem;
}

a#add-a-component-button {
  color: $secondary-color;
  float: right;
}

#item-edit  {
  th.item-edit-head {
    width: 4rem;
  }
  textarea{
    height: 6rem;
    font-size: 14px;
    line-height: 16px;
  }
  input {
    font-size: 14px;
    line-height: 16px;
  }
  #description {
    padding-top: 0rem;
  }
  margin-bottom: 4rem;
}

.best_in_place:hover {
  color: $secondary-color;
}

.subtitle {
  font-style: italic;
  color: $medium-gray;
}