// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';
@import 'foundation';

#component-block, #item-block  {
  border: 1px solid $medium-gray;
  border-radius: $rounded-radius;
  padding: 1rem;
}

.item-pic {
  padding: 1.2rem;
  margin-right: 1.2rem;
  border: 1px solid $medium-gray;
  border-radius: 16px;
}

// show page
table{
  thead, th, tbody, tr, td {
    border: 0px;
  } 
}

.component-table {
  thead, th, tbody, tr, td {
    text-align: left;
    font-size: 10px;
    padding: 0.1rem;
  }
  
  td {
    font-size: 12px;
  }
}

a.button.radius {
  border: 0px;
}

// items edit form

.item-edit-head {
  width: 8rem;
}

input.btn.button {
  border: 0px;
  margin-left: 1rem;
}