// Place all the styles related to the kits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';
@import 'foundation';

// kits index
th.center {
  text-align: center !important;
}

// steamkit shopping page (external view)
// product-card
$card-info-bg: $white;
$card-info-shadow: 0;
$card-info-hover-shadow: 0;
$card-info-info-color: lighten($primary-color, 15%);
$card-info-border-radius: 10px;
$card-info-button-radius: 18px;

#card-grid.grid-x{
  overflow-x: hidden;
}

.cell-block-y{
  overflow-x: hidden;
}

.product-card-container{
  padding-left: 15px;
  margin-left: 10px;
  overflow-x: hidden;
  margin-bottom: 5rem;
}

.product-card {
  padding: 0px 0px 6px 0px;
  margin-bottom: 1rem;
  width: 264px;
  background: $card-info-bg;
  border: 2px solid $light-gray;
  box-shadow: $card-info-shadow;
  border-radius: $card-info-border-radius;
  transition: 0.3s;
}

.product-card:hover{
  box-shadow: $card-info-hover-shadow;
}

.product-card-thumbnail {
  width: 260px;
  height: 250px;
  text-align: center;
  display: block;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid $light-gray;
}

.product-card-title {
  width: 98%;
  text-align: center;
  color: $dark-gray;
  margin-top: 1rem;
  height: 3rem;
  font-size: 18px;

}

.product-card-button {
  padding: 0.3rem;
  text-align: center;
  width: 125px;
  height: 30px;
  font-size: 0.9rem;
  border: 1.5px solid $light-gray;
  border-radius: $card-info-button-radius;
  margin-bottom: 1rem;
  a {
    color: $dark-gray;
  }
}

.product-card-button:hover{
  box-shadow: 0;
  border: 1.5px solid $medium-gray;
  a{
    color: scale-color($dark-gray, $lightness: -40%);
  }
}

#details-button {
  padding: 1rem 0rem;
}

#item-pic{
  max-width:100%;
  max-height:100%;
  img {
    height: 260px;
    width: auto;
  }
}

// avaiable_kit show page

#item-detail {
  margin-top: 2rem;
}

div #kit-components.button.radius, #rent-kit-button.button.radius {
  height: 2rem;
  padding: 0.5rem;
  border: 0px;
  margin: 0.5rem 0rem;
  a {
    color: $white;
    padding: 0rem;
  }
}

#kit-components.button.radius {
  width: 100%;
}