// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";

@import 'settings';
@import 'foundation';

// reservation form

#new_reservation.simple_form.form-horizontal {
  margin: 0px;
  max-width: 100%;
}

#reservation-form {
  table, tbody, tr, td {
    border: 0px $none;
  }
  
  tr, td {
    padding: 0rem 1rem;
  }
  
  select.avg.datepicker {
    width: 7.75rem;
    margin: 0rem 0.25rem;
    background-color: $none;
    fill: transparent;
    -webkit-appearance: menulist;
  }
  
  select#reservation_teacher_id,
  select#reservation_kit_id {
    width: 25rem;
  }
  
  label {
    font-size: 20px;
    font-weight: normal;
    text-align: right;
  }
}

input.button.radius.small {
  font-size: 0.75rem;
}

a.button.alert.radius.small {
  color: $white;
}

//reservation calendar view

.calendar-view {
  border: $medium-gray solid 1px;
  overflow: hidden;
  margin-bottom: 5rem;
  margin-top: 1rem;

  table.table {
    margin-bottom: 0rem;
    border: 0px;
  }
  
  thead tr th {
    border: 0px;
  }
}

.calendar-title {
  font-weight: bold;
  font-size: 25px;
}

.simple-calendar {
  .calendar-heading {
    height: 3rem;
    padding: 1rem;
    background-color: $secondary-color;
    color: $white;
    margin-bottom: 0.25rem;

    a{
      line-height: 0; 
      font-size: 0;
      color: transparent;
      margin: 0rem 1rem;

      &:first-child:before {
        color: $white;
        font-family: FontAwesome; 
        content: "\f100";
        font-weight: bold;  
        font-size: 25px;
      }
      
      &:last-child:after {
        color: $white;
        font-family: FontAwesome;   
        content: "\f101";
        font-weight: bold;  
        font-size: 22px;
      }
    }
  }

  td {
    &.day {
      background-color: $white;
      color: $black;
    }
  
    &.today {
      background-color: rgba($secondary-color, .25);
    }
  
    &.past, &.prev-month, &.next-month {
      background-color: rgba($light-gray, .5);
    }
  
    &.has-events {
      padding-left: 0rem;
      padding-right: 0rem;
      div {
        width: 100%;
        background-color: $primary-color;
        padding: 0.15rem 0.25rem;
      }
      p, a {
        color: $white;
        font-weight: bold;
        font-size: 10px;
        margin: 0rem;
      }
    }
  }
}

// stylings for check in/return page

.return-table {
  th, tr, td {
    text-align: left;
  }
}

// reservation history

#res-history {
  .information-table {
    img {
      width: 3rem;
      height: 3rem;
    }
  }
}