//stylings from users used
#school-user{ 
  a.button,
  input.btn.button.radius, 
  #edit-information {
    line-height: 2;
  }
}

#edit-information {
  height: 2rem;
  padding-top: 0.25rem;
}

#school-info-buttons {
  margin-top: 2rem;
  margin-left: 1rem;
  
  .button {
    display: block;
    line-height: 2;
  }

  i {
    color: white;
  }
}